<% include ../_header %>
<% include ../_header_index %>
<div class="panel panel-primary">
	<div class="panel-heading">
		小説詳細
		<a href="/doujin/edit_top/<%= id %>"><span class="glyphicon glyphicon-pencil">　</span></a>
	</div>
	<div class="panel-body">
		<div class="media">
			<div class="media-left media-middle">
				<% if(thumbnail) { %>
				<img src="/img/<%= thumbnail %>" class="media-object img-thumbnail" alt="表紙画像">
				<% } else { %>
				<img src="/img/doujin/noimage.png" class="media-object img-thumbnail" alt="表紙画像">
				<% } %>
			</div>
			<div class="media-body">
				<div class="row">
					<div class="col-md-12">
						タイトル：<%= title %>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						著者名：<%= author %>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						サークル：<%= circle %>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						詳細URL：<%= url %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	<div class="panel panel-primary">
	<div class="panel-heading">
		この小説の感想
	</div>
	<div class="panel-body">
		<% if(isAuthenticated) { %>
			<% if (typeof error_messages !== 'undefined' && error_messages.length > 0) {  %>
			<% error_messages.forEach(function(message) { %>
			<div class="alert alert-danger" role="alert"><%= message %></div>
			<% }); %>
			<% } %>

			<% if(my_impression.id) { %>
			<form action="/impression/edit" method="post" role="form">
			<% } else { %>
			<form action="/impression/register" method="post" role="form">
			<% } %>
				<input type="hidden" name="id" value="<%= id %>">
				<input type="hidden" name="impression_id" value="<%= my_impression.id %>">
				<div class="form-group">
					<label for="body" class="sr-only">感想を投稿</label>
					<textarea name="body" class="form-control" rows="5" placeholder="感想を投稿する"><%= my_impression.body %></textarea><br />
					<div class="text-right">

						<% if(my_impression.id) { %>
						<button type="submit" class="btn btn-success">修正</button>
						<% } else { %>
						<button type="submit" class="btn btn-success">感想を投稿</button>
						<% } %>
					</div>
				</div>
			</form>
		<% } else { %>
			<h2 class="text-center">ログインすると感想を投稿することができます</h2>
			<p class="text-center"><a class="btn btn-info btn-lg" href="/auth/twitter" role="button">
					<span class="glyphicon glyphicon-log-in">　</span>
					Twitterでログイン
			</a></p>
		<% } %>
		<hr />

		<% impression.forEach(function(row){ %>
		<div class="media">
			<div class="media-left media-middle">
				<% if(row.thumbnail) { %>
				<img src="/img/<%= row.thumbnail %>" width="48" height="48" class="media-object img-thumbnail" alt="プロフィール画像">
				<% } else { %>
				<img src="/img/noimage.gif" width="48" height="48" class="media-object img-thumbnail" alt="プロフィール画像">
				<% } %>
			</div>
			<div class="media-body">
				<div class="row">
					<div class="col-md-12 text-left">
						<a href="/user/i/<%= row.user_id %>"><%= row.displayname %></a>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<pre class="well"><%= row.body %></pre>
						<p class="text-right"><a href="/impression/i/<%= row.id %>">⇛感想の詳細へ</a></span>
					</div>
				</div>
			</div>
		</div>
		<hr />
		<% }) %>

		<% include ../_pagination %>
	</div>
</div>
<% include ../_footer_index %>
<% include ../_footer %>
