<% if (typeof pagination !== 'undefined' && pagination.page_count > 1) { %>
<nav class="text-center">
	<ul class="pagination pagination-lg">
		<% if (pagination.current_page > 0) { %>
		<li>
			<a href="<%= pagination.url %><%= pagination.current_page - 1 %>" aria-label="前へ"><span aria-hidden="true">&laquo;</span></a>
		</li>
		<% } else { %>
		<li>
			<a aria-label="前へ"><span aria-hidden="true">&laquo;</span></a>
		</li>
		<% } %>

		<% for(var i=0;i<pagination.page_count; i++) { %>
			<% if (i === pagination.current_page) { %>
			<li class="active"><a><%= i + 1 %></a></li>
			<% } else { %>
			<li><a href="<%= pagination.url %><%= i %>"><%= i + 1 %></a></li>
			<% } %>
		<% } %>
		<% if (pagination.current_page + 1 < pagination.page_count) { %>
		<li>
			<a href="<%= pagination.url %><%= pagination.current_page + 1 %>" aria-label="次へ"><span aria-hidden="true">&raquo;</span></a>
		</li>
		<% } else { %>
		<li>
			<a aria-label="次へ"><span aria-hidden="true">&raquo;</span></a>
		</li>
		<% } %>
	</ul>
</nav>
<% } %>


<% /* %>

<% if (pagination.page_count > 1) { %>
<ul class="pagination">
	<% if (pagenation.current_page > 1) { %>
		<li><a href="/?page=1">&laquo;</a></li>
	<% } %>
	<% var i = 1;
	if (pagenation.current_page > 5) {
	i = + pagenation.current_page - pagenation.page_size + 1;
	} %>
	<% if (i !== 1) { %>
		<li class="disabled"><a href="#">...</a></li>
	<% } %>
	<% for (i; i<=pagenation.page_count; i++) { %>
		<% if (currentPage == i) { %>
			<li class="active"><span><%= i %> <span class="sr-only">(current)</span></span></li>
		<% } else { %>
			<li><a href="/?page=<%= i %>"><%= i %></a></li>
<% } %>
	<% if (i == (+currentPage + 4)) { %>
        <li class="disabled"><a href="#">...</a></li>
    <% break; } %>
  <% } %>
  <% if (currentPage != pageCount) { %>
      <li><a href="/?page=<%= pageCount %>">&raquo;</a></li>
  <% } %>
</ul>  
<% } %>  
<% */ %>
