<% include ../_header %>
<% include ../_header_index %>
<div class="panel panel-primary">
	<div class="panel-heading">
		検索結果：<%= pagination.total_count %>件
	</div>
	<div class="panel-body">
		<div class="row">
		<% for(var i=0; i<doujinshi.length; i++) { %>
		<div class="col-md-3">
				<a href="/doujin/i/<%= doujinshi[i].id %>">
				<% if (doujinshi[i].thumbnail) { %>
				<img src="/img/<%= doujinshi[i].thumbnail %>" class="img-thumbnail center-block" alt="<%= doujinshi[i].title %>">
				<% } else { %>
				<img src="/img/doujin/noimage.png" class="img-thumbnail center-block" alt="<%= doujinshi[i].title %>">
				<% } %>
				</a>
				<h3 class="text-center"><a href="/doujin/i/<%= doujinshi[i].id %>"><%= doujinshi[i].title %></a></h3>
				<p class="text-center"><%= doujinshi[i].author %></p>
			</div>
			<% if(i % 4 === 3){ %>
			</div><div class="row">
			<% } %>
		<% } %>
		</div>

		<% include ../_pagination %>
	</div>
</div>
<% include ../_footer_index %>
<% include ../_footer %>
