<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
	<p>Welcome to <%= title %></p>
	<% list.forEach(function(row){ %>
	同人誌タイトル：<a href="./doujinshi/<%= row.id %>"><%= row.title %></a><br />
		著者：<%= row.author %><br /><br />
	<% }) %>

	<form action="./doujinshi/register" method="post">
		同人誌タイトル:<input type="text" name="title"><br />
		著者:<input type="text" name="author"><br />
		<input type="submit" value="登録">
	</form>
  </body>
</html>
