<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
	<p>Welcome to <%= title %></p>

	同人誌タイトル:<%= title %><br />
	著者:<%= author %>

	<form action="./register/<%= id %>" method="post">
		<textarea name="article"></textarea><br />
		<input type="submit" value="感想登録">
	</form>

	<% impression.forEach(function(row){ %>
		<%= row.article %><br /><br />
	<% }) %>

  </body>
</html>
