<% include ../_header %>
<% include ../_header_index %>
<div class="panel panel-primary">
	<div class="panel-heading">
		感想
	</div>
	<div class="panel-body">
			<div class="row">
				<div class="col-md-12 text-left">
					<a href="/user/i/<%= user_id %>"><%= displayname %></a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="well" style="white-space:pre-wrap;"><%= body %></div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-right">
					<%= create_time %>
				</div>
			</div>
			<hr />
			<div class="text-right">
				<a href="/doujin/i/<%= doujinshi_id %>">⇛この小説の感想をもっと見る</a></div>
	</div>
</div>

<div class="panel panel-primary">
	<div class="panel-heading">
		小説詳細
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-3">
				<a href="/doujin/i/<%= doujinshi_id %>">
				<% if(thumbnail) { %>
				<img src="/img/<%= thumbnail %>" class="img-thumbnail center-block" alt="<%= title %>">
				<% } else { %>
				<img src="/img/noimage.gif" class="img-thumbnail center-block" alt="表紙画像">
				<% } %>
				</a>
			</div>
			<div class="col-md-9">
				<table class="table">
					<tr><th style="white-space: nowrap;">タイトル</th><td style="word-break: break-word"><a href="/doujin/i/<%= doujinshi_id %>"><%= title %></a></td></tr>
					<tr><th style="white-space: nowrap;">著者名</th><td style="word-break: break-word"><%= author %></td></tr>
					<tr><th style="white-space: nowrap;">サークル</th><td style="word-break: break-word"><%= circle %></td></tr>
					<tr><th style="white-space: nowrap;">詳細URL</th><td style="word-break: break-word"><a href="<%= url %>"><%= url %></a></td></tr>
				</table>
			</div>
		</div>
	</div>
</div>
<% include ../_footer_index %>
<% include ../_footer %>
