<% include ../_header %>
<% include ../_header_index %>
<div class="panel panel-primary">
	<div class="panel-heading">
		感想
	</div>
	<div class="panel-body">
			<div class="row">
				<div class="col-md-12 text-left">
					<a href="/user/i/<%= user_id %>"><%= displayname %></a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<%= body %>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-right">
					<%= create_time %>
				</div>
			</div>
			<hr />
			<div class="text-right">
				<a href="/doujin/i/<%= doujinshi_id %>">⇛この小説の感想をもっと見る</a></div>
	</div>
</div>

<div class="panel panel-primary">
	<div class="panel-heading">
		小説詳細
	</div>
	<div class="panel-body">
		<div class="media">
			<div class="media-left media-middle">
				<% if(thumbnail) { %>
				<img src="/img/<%= thumbnail %>" class="media-object img-thumbnail" alt="表紙画像">
				<% } else { %>
				<img src="/img/noimage.gif" class="media-object img-thumbnail" alt="表紙画像">
				<% } %>
			</div>
			<div class="media-body">
				<div class="row">
					<div class="col-md-12">
						タイトル：<%= title %>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						著者名：<%= author %>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						サークル：<%= circle %>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						詳細URL：<%= url %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<% include ../_footer_index %>
<% include ../_footer %>
