<% include ../_header %>
<% include ../_header_index %>
<div class="panel panel-primary">
	<div class="panel-heading">
		感想一覧
	</div>
	<div class="panel-body">
		<ul class="media-list">
		<% impression.forEach(function(row) { %>
		<li class="media">
			<div class="media-left media-middle">
				<% if (row.doujinshi.thumbnail) { %>
				<a href="/doujin/i/<%= row.doujinshi.id %>"><img src="/img/<%= row.doujinshi.thumbnail %>" class="media-object img-thumbnail" alt="表紙画像"></a>
				<% } else { %>
				<a href="/doujin/i/<%= row.doujinshi.id %>"><img src="/img/noimage.gif" class="media-object img-thumbnail" alt="表紙画像"></a>
				<% } %>
			</div>
			<div class="media-body">
				<div class="media-head">
					<div class="row">
						<div class="col-md-6">
							小説名：<strong><a href="/doujin/i/<%= row.doujinshi.id %>"><%= row.doujinshi.title %></a></strong><br />
						</div>
						<div class="col-md-6">
							著者：<%= row.doujinshi.author %>
						</div>
					</div>
				</div>
				<div class="well" style="white-space:pre-wrap;"><%= row.body %></div>
				<p class="text-right"><a href="/impression/i/<%= row.id %>">⇛感想の詳細へ</a></span>
			</div>
		</li>
		<hr />
		<% }); %>
	</ul>

	<% include ../_pagination %>
	</div>
</div>
<% include ../_footer_index %>
<% include ../_footer %>
